.dashboard-top-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: red; */
}

.dashboard-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  transition-duration: 2s;
}

.left-column {
  flex-direction: column;
  flex: 18%;
}

.context-info {
  padding-left: 2rem;
  padding-top: 2rem;
}

.context-info .context-info-upper {
  font-weight: 700;
}

.context-info .context-info-lower {
  font-size: 2rem;
  font-weight: 300;
}

.center-column {
  flex-direction: column;
  flex: 64%;
}

.album-art {
  padding-top: 12.5%;
  padding-bottom: 2vh;
}

.album-text-info {
  padding-top: 3vh;
  padding-bottom: 6vh;
}

.extraneous-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.track-length-text {
  font-size: 1.3rem;
  font-weight: 300;
}

.right-column {
  flex-direction: column;
  flex: 18%;
}
