.base-bar {
    /* margin-top: -10px; */
    /* padding-top: 1rem; */
    /* margin-top: 0.75rem; */
    height: 0.2rem;
    /* width: 100%; */
    min-width: 40vw;
    width: 100%;
    /* background-color: "#e0e0de"; */
    background-color: #202020;
    border-radius: 1rem;;
    margin: 50;
  }

  .progress-bar {
    height: 100%;
    width: 33%;
    background-color: #ffffff;
    border-radius: inherit;
    text-align: right;
    transition-duration: 1s;
    transition-timing-function: linear;

  }

  .label {
    height: 0.1rem;
    /* padding: 5px; */
    color: white;
    font-weight: bold;
  }